/* BEM Convention reminder 
https://css-tricks.com/bem-101/ */

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  font-family: sans-serif;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin-top: 50px;
}
.sayHello {
  font-size: 24px;
  font-weight: 400;
}

.charCount {
  margin: 25px;
  font-weight: 300;
}
.box {
  border: 3px solid #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 25px;
}
.box--large {
  width: 270px;
  height: 270px;
}
.box--medium {
  width: 180px;
  height: 180px;
}

.box--small {
  width: 90px;
  height: 90px;
}

.firstname {
  margin-top: 25px;
}

.lastname {
  margin-top: 25px;
}

.btn {
  margin-top: 55px;
}
.btn--orange {
  cursor: pointer;
  width: 100px;
  height: 50px;
  margin-bottom: 5px;
  background-color: orange;
  border: 2px solid rgb(209, 208, 208);
  border-radius: 5px;
  color: black;
  font-weight: bold;
  font-size: 18px;
}
